<nav class="navbar" [class.scrolled]="scrolled">
    <div class="navbar-inner">

        <a class="logo" routerLink="/home">
            <span class="logo-icono">FJ</span>
            <span class="logo-texto">Soria</span>
        </a>

        <ul class="nav-menu">
            <li>
                <a routerLink="/home" routerLinkActive="activo" [routerLinkActiveOptions]="{exact:true}">
                    Sobre mí
                </a>
            </li>
            <li>
                <a routerLink="/proyectos" routerLinkActive="activo">
                    Proyectos
                </a>
            </li>
            
        </ul>

        <a routerLink="/contacto" class="cta-btn">
            <span>Contacto</span>
            <i class="bi bi-arrow-right"></i>
        </a>

    </div>
</nav>